@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.navbar-brand {
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #565387;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #3498db;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

#header .btn-light {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-light:hover {
  color: #fff;
  background: #3498db;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.btn-outline-primary {
  border: 2px solid #3498db;
  border: 5px;
}

.btn-outline-primary:hover {
  background: #3498db;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.footer_sec {
  margin-top: 10rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.main_service {
  height: 100%;
}

.card-img {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.card-img img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-origin: content-box;
  border-bottom: 2px solid indianred;
}

@media screen and (max-width: 992px) {
  .menu_active {
    border-bottom: none;
  }
}

/* 
@media (max-width: 320px) {
  #header {
    height: 100%;
    margin-top: 20px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    min-width: 70vw;
  }
} */
@media (max-width: 768px) {
  #header {
    height: 100%;
    margin-top: 20px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    padding-top: 12rem;
    min-width: 55vw;
  }
}

@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header-img {
    text-align: center;
  }
  #header .header-img img {
    width: 60%;
  }
  #content {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */